APP_PASSWORD=pon-aqui-la-contrasena-privada
SESSION_SECRET=genera-un-valor-largo-y-aleatorio
PROVIDER_NAME=nombre-del-responsable
PROVIDER_DOCUMENT_ID=documento-del-responsable
PROVIDER_ADDRESS=direccion-del-responsable
PROVIDER_EMAIL=correo-del-responsable
PROVIDER_PHONE=telefono-del-responsable
DRIVE_ROOT_URL=https://drive.google.com/drive/folders/carpeta-principal
DRIVE_PENDING_URL=https://drive.google.com/drive/folders/carpeta-pendientes
DRIVE_SIGNED_URL=https://drive.google.com/drive/folders/carpeta-firmados
